// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Variables
$bg-color: #20262e;
$moon-color: #323940;
$error-color: #ff0000;
$title-color: #ffffff;
$input-color: #848484;
$blog-date-color: #ddd;
$isActive-color: #45d19e;
$footer-bg-color: #1c2028;
$intro-text-color: #111517;
$nav-border-color: #394852;
$buttons-bg-color: #272e37;
$description-color: #cbcbcb;
$card-shadow-color: #222222;
$community-bg-color: #7288da;
$btn-first-bg-color: #059669;
$btn-second-bg-color: #25b1c8;
$card-description-color: #ceced0;
$input-placeholder-color: #a5a5a5;
$btn-dark-first-bg-color: #0c5c43;
$bell-bg-color: rgba(255, 255, 255, 0.1);
$input-shadow-color: rgba(0, 0, 0, 0.0532439);
$footer-border-color: rgba(255, 255, 255, 0.06);
