.blog-cards-container {
  max-width: 1000px;
  margin: 70px auto 0 auto;
  @include lg {
    margin: 0 auto 0 auto;
  }
  &-box {
    margin: 70px 0 0 0;
    @include lg {
      margin: 60px auto 0 auto;
    }
    position: relative;
    @include flexbox(flex, flex-start, center, row, 24px);
    @include lg {
      display: block;
    }
    &::after {
      content: "";
      bottom: -35px;
      position: absolute;
      @include sizes(1px, 100%);
      background-color: $moon-color;
      @include lg {
        bottom: -25px;
      }
    }
    &__img {
      height: 200px;
      max-width: 100%;
      max-width: 400px;
      border-radius: 4px;
      @include lg {
        width: 100%;
        height: 400px;
      }
      @include md {
        height: 300px;
      }
      @include sm {
        height: 200px;
      }
    }
    &-content {
      &__name {
        padding: 3px 12px;
        border-radius: 4px;
        display: inline-block;
        background-color: $moon-color;
        @include title($title-color, 16px, 400, 26px, default);
        @include lg {
          margin: 15px 0 0 0;
        }
        @include sm {
          @include title($title-color, 14px, 400, 26px, default);
        }
      }
      &__title {
        margin: 10px 0;
        max-width: 576px;
        @include lg {
          max-width: 100%;
        }
        @include title($title-color, 23.394px, 500, 29.243px, default);
        @include sm {
          @include title($title-color, 18px, 500, 29.243px, default);
        }
      }
      &-date {
        @include flexbox(flex, flex-start, center, row, 28px);
        &-box {
          position: relative;
          @include flexbox(flex, flex-start, center, row, 8px);
          &:nth-child(2) {
            &::after {
              width: 1px;
              left: -14px;
              content: "";
              height: 100%;
              position: absolute;
              background-color: $moon-color;
            }
          }
          &__intro {
            @include sizes(36px, 36px);
            object-fit: cover;
          }
          &__name {
            @include title($title-color, 16px, 500, 26px, default);
            transform: translateY(5px);
          }
          &__date {
            transform: translateY(5px);
            @include title($blog-date-color, 16px, 400, 16px, default);
          }
        }
      }
      &__description {
        margin: 10px 0 0 0;
        max-width: 562.23px;
        @include title($description-color, 16px, 400, 26px, default);
        @include lg {
          max-width: 100%;
        }
        @include sm {
          @include title($description-color, 14px, 400, 26px, default);
        }
      }
    }
  }
}
