.forgotPassword {
  max-width: 50%;
  margin: 175px auto 0 auto;
  @include lg {
    max-width: 75%;
  }
  @include md {
    max-width: 85%;
  }
  @include sm {
    max-width: 100%;
  }
  &__title {
    text-align: center;
    @include title($title-color, 30px, 600, default, uppercase);
  }
  &-form {
    margin: 30px 0 0 0;
    &-box {
      text-align: center;
      &__link {
        text-align: center;
        margin: 10px 0 0 0;
        display: inline-block;
        text-decoration: underline;
        @include title($title-color, 18px, 400, default, default);
      }
    }
    &-label {
      @include sizes(75px, 100%);
      &-upload {
        cursor: pointer;
        margin: 10px 0 0 0;
        @include sizes(75px, 100%);
        border: 1px solid $footer-border-color;
        @include flexbox(flex, center, center, row, stretch);
        &__icon {
          font-size: 45px;
          color: $title-color;
        }
      }
      &__code {
        height: 60px;
        outline: none;
        color: $title-color;
        border-radius: 4px;
        width: 100% !important;
        transform: translateY(10px);
        border: 1px solid $moon-color;
        &:focus {
          border: 1px solid $btn-first-bg-color !important;
        }
        &:active {
          border: 1px solid $btn-first-bg-color !important;
        }
      }
      &__input {
        padding: 20px 0;
        @include title(default, 16px, 500, default, default);
        @include input(
          100%,
          100%,
          1px solid $footer-border-color,
          none,
          25px,
          4px,
          transparent,
          $input-placeholder-color,
          $title-color
        );
      }
      input[type="file"] {
        display: none;
      }
    }
    &__btn {
      width: 100%;
      margin: 10px 0 0 0;
      @include title($title-color, 16px, 500, default, uppercase);
      @include button(
        none,
        20px 0,
        4px,
        $btn-first-bg-color,
        1px solid $btn-first-bg-color,
        all 500ms ease
      );
      &:hover {
        @include button(
          none,
          20px 0,
          4px,
          transparent,
          1px solid $btn-first-bg-color,
          all 500ms ease
        );
      }
    }
  }
}
