.product-create {
  margin: 30px 0;
  &-form {
    &-label {
      position: relative;
      margin: 0 0 20px 0;
      @include sizes(100px, 100%);
      &-upload {
        cursor: pointer;
        @include sizes(100px, 100%);
        border: 1px solid $footer-border-color;
        @include flexbox(flex, center, center, row, stretch);
        &.--active {
          @include sizes(600px, 100%);
        }
        &__img {
          object-fit: cover;
          @include sizes(100%, 100%);
        }
        &__icon {
          font-size: 45px;
          color: $title-color;
        }
        &:hover {
          border: 1px dashed $btn-first-bg-color;
        }
      }
      &__input {
        padding: 20px 0;
        margin: 10px 0 0 0;
        @include title(default, 16px, 500, default, default);
        @include input(
          100%,
          100%,
          1px solid $footer-border-color,
          none,
          25px,
          4px,
          transparent,
          $title-color,
          $title-color
        );
      }
    }
    &-box {
      @include flexbox(flex, space-between, center, row, 20px);
      @include md {
        display: block;
      }
      &-label {
        margin: 0 0 20px 0;
        @include sizes(60px, 50%);
        @include md {
          @include sizes(60px, 100%);
        }
        &__input {
          font-size: 15px;
          padding: 0 20px 0 20px;
          @include input(
            100%,
            100%,
            1px solid $moon-color,
            none,
            default,
            4px,
            transparent,
            $input-placeholder-color,
            $title-color
          );
        }
        &-select {
          @include input(
            100%,
            60px,
            1px solid $moon-color,
            none,
            20px,
            4px,
            transparent,
            default,
            $title-color
          );
          option {
            color: $title-color;
            background-color: $moon-color;
          }
        }
      }
    }
    &-technologies {
      flex-wrap: wrap;
      @include flexbox(flex, flex-start, flex-start, row, 10px);

      &-label {
        position: relative;
        &__input {
          cursor: pointer;
          position: absolute;
          -webkit-appearance: none;
          @include sizes(100%, 100%);
          @include button(
            none,
            10px,
            4px,
            transparent,
            1px solid $moon-color,
            default
          );
          &:checked ~ .product-create-form-technologies-label-btn {
            background-color: $moon-color;
            .product-create-form-technologies-label-btn__name {
              color: $title-color;
            }
            .product-create-form-technologies-label-btn__number {
              color: $title-color;
              background-color: $bg-color;
            }
          }
        }
        &-btn {
          @include button(
            none,
            8px 20px 0px 20px !important,
            4px,
            transparent,
            1px solid $moon-color,
            all 300ms ease
          );
          @include flexbox(flex, center, center, row, 5px);
          &__name {
            @include title($description-color, 12.8px, 400, 21px, capitalize);
            transition: all 300ms ease;
          }
          &__number {
            padding: 2px 4px;
            border-radius: 4px;
            transition: all 300ms ease;
            background-color: $moon-color;
            @include title($description-color, 12px, 400, 16px, capitalize);
            @include flexbox(flex, center, center, row, stretch);
          }
        }
      }
    }
    &-description {
      resize: none;
      padding: 20px;
      font-size: 15px;
      margin: 0 0 15px 0;
      @include input(
        100%,
        200px,
        1px solid $moon-color,
        none,
        default,
        4px,
        transparent,
        $input-placeholder-color,
        $title-color
      );
    }
    &__submit {
      margin: 20px 0 0 0;
      @include sizes(default, 100%);
      @include title($title-color, 16px, 500, default, default);
      @include button(
        none,
        10px 20px,
        4px,
        $btn-first-bg-color,
        1px solid $btn-first-bg-color,
        all 500ms ease
      );
      &:hover {
        @include button(
          none,
          10px 20px,
          4px,
          transparent,
          1px solid $btn-first-bg-color,
          all 500ms ease
        );
      }
    }
  }
}
