.profile {
  &-box {
    @include flexbox(flex, flex-end, center, row, stretch);
    transform: translate(-50px, 50px);
    &__btn {
      @include button(
        none,
        15px 20px 10px 20px,
        4px,
        $btn-first-bg-color,
        1px solid $btn-first-bg-color,
        all 300ms ease
      );
      @include title($title-color, 16px, 400, default, uppercase);
      &:hover {
        @include button(
          none,
          15px 20px 10px 20px,
          4px,
          transparent,
          1px solid $btn-first-bg-color,
          all 300ms ease
        );
      }
    }
  }
  &-container {
    margin-top: 30px;
    text-align: center;
    @include defaultQuery(480px) {
      margin-top: 100px;
    }
    &__img {
      object-fit: cover;
      border-radius: 50%;
      @include sizes(350px, 350px);
      @include sm {
        @include sizes(200px, 200px);
      }
    }
    &__name {
      margin: 20px 0 20px 0;
      @include title($title-color, 35px, 400, default, capitalize);
      @include defaultQuery(480px) {
        font-size: 30px;
        margin: 10px 0 10px 0;
      }
    }
    &__email {
      margin: 20px 0;
      @include title($title-color, 20px, 400, default, default);
      @include defaultQuery(480px) {
        margin: 10px 0;
        font-size: 16px;
      }
    }
    &__portfolio {
      @include title($title-color, 20px, 400, default, default);
      @include defaultQuery(480px) {
        font-size: 16px;
      }
      &:hover {
        text-decoration: underline;
        @include title($title-color, 20px, 400, default, default);
      }
    }
  }
}
